.container h1 {
  margin: 50px 20px;
  text-align: center;
  font-weight: bold;
}

.newsItem {
  margin: 20px 20px;
  display: flex;
}

.newsItem img {
  width: 150px;
}

@media only screen and (max-width: 470px) {
  .newsItem {
    flex-direction: column;
  }

  .newsItem img {
    margin-left: 15px;
    margin-bottom: 20px;
    width: 250px;
  }
}

.newsItem h5 {
  font-size: 16px;
  font-weight: bold;
}

.info {
  margin-left: 15px;
}

.source {
  margin-right: 20px;
  font-size: 14px;
  color: gray;
}

.newsItem p {
  margin-top: 5px;
}
